<!-- Footer -->
	<section id="footer" class="pt-5 pb-3 mt-5">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<img class="footer_logo" src="/public/images/logo/footer-logo.png" alt="">
					<p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
						when an unknown printer took a galley of type and </p>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2">
					<h5>Category</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="generators"><i class="fa fa-angle-double-right"></i>Generator</a></li>
						<li><a href="breaker"><i class="fa fa-angle-double-right"></i>Breaker</a></li>
						<li><a href="escavators"><i class="fa fa-angle-double-right"></i>Escavator</a></li>
						<li><a href="crushing"><i class="fa fa-angle-double-right"></i>Crushing</a></li>
						<li><a href="motor"><i class="fa fa-angle-double-right"></i>Motor</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Location</h5>
					<ul class="officeAddress" >
						<li>
							<span class="material-icons">
								room
								</span>
							<p>Mainsmate Palazhi Calicut <br>Kerala 673634</p>
						</li>
						<li>
							<span class="material-icons">mail_outline</span> 
							<a href="mailto:minesmate@email.com">minesmate@email.com</a>
						</li>
						<li>
							<span class="material-icons">call</span>
							<p>+91 9847123456</p>
						</li>
					</ul>
					
					
				</div>
				
			</div>
		</div>
		<div class="col-12 px-0 pt-5">
			<hr>
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<p class="copyRight">Mines Mate 2021 © All right Reversed. Developed By<a class="text-green ml-2" href="https://sysart.in/" target="_blank">Sysart</a></p>
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled list-inline social text-right">
						<li class="list-inline-item"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ./Footer -->