<section>
    <div id="slider-animation" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
 

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/crushing"><img src="/public/images/banner/hero-bg-in.jpg" alt="Los Angeles"></a>
      
    </div>
    <div class="carousel-item">
      <a href="/escavators"> <img src="/public/images/banner/hero-bg-in-2.jpg" alt="Los Angeles"></a>

    </div>
      <div class="carousel-item">
        <a href="/generators"><img src="/public/images/banner/hero-bg-in-3.jpg" alt="Chicago"></a>

  </div>
  
</div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider-animation" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
    
</section>