
<!-- UIkit CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" /> -->



<div id="category-slider" class="categories-container">
	<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
		<!-- Fading -->
		<div class="slider-wrapper">
		<ul class="uk-slider-items uk-child-width-1-3@s slider-content">
			<!-- Cartas de categoría -->
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/clothes.png" alt="" uk-image= "target: .categories-container"> 
						</div>
						<div class="category-item-name">Camisetas</div>
					</a>		
			</li>
						<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/denim-shorts.png" alt="" uk-image= "target: .categories-container"> 
						</div>
						<div class="category-item-name">Pantalones</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/jacket.png" alt="" uk-image= "target: .categories-container"> 
						</div>
						<div class="category-item-name">Chaquetas</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/wedding-dress.png" alt="" uk-image= "target: .categories-container"> 
						</div>
						<div class="category-item-name">Vestidos</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/office/48/000000/imperial-mustache.png" alt="" uk-image= "target: .categories-container"> 
						</div>
						<div class="category-item-name">Vintage</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/motorbike-helmet.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Motor</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/cotton/48/000000/basketball-jersey--v1.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Deporte</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src= "https://img.icons8.com/plasticine/48/000000/trousers.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Jeans</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/cotton/48/000000/forester-shirt.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Camisas</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/motorbike-helmet.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Sudaderas</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/motorbike-helmet.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Sudaderas</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/motorbike-helmet.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Sudaderas</div>
					</a>		
			</li>
			<li class="category-item">
					<a class="category-item-link" href="#">
						<div class="category-item-img">
							<img src="https://img.icons8.com/plasticine/48/000000/motorbike-helmet.png" alt="" uk-image= "target: .categories-container"/>
						</div>
						<div class="category-item-name">Sudaderas</div>
					</a>		
			</li>
			
			<!-- Navigation -->
 			
		</ul>
			 <a class="uk-position-center-left uk-position-small arrow-slider uk-hidden uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small arrow-slider uk-hidden uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
		</div>
	</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>