<div class="container">
    <h1>Product Gallery With Image Zoom Example</h1>
  <div class="show-image" href="https://placeimg.com/1000/1000/animals">
    <img src="https://placeimg.com/1000/1000/animals" id="show-img">
  </div>
  <div class="small-img">
    <img src="/public/images/icon/online_icon_right@2x.png" class="icon-left" alt="" id="prev-img">
    <div class="small-container">
      <div id="small-img-roll">
        <img src="https://placeimg.com/1000/1000/animals" class="show-small-img" alt="">
        <img src="https://placeimg.com/1000/1000/arch" class="show-small-img" alt="">
        <img src="https://placeimg.com/1000/1000/nature" class="show-small-img" alt="">
        <img src="https://placeimg.com/1000/1000/people" class="show-small-img" alt="">
        <img src="https://placeimg.com/1000/1000/tech" class="show-small-img" alt="">
        <img src="https://picsum.photos/1000/1000/?random" class="show-small-img" alt="">
      </div>
    </div>
    <img src="/public/images/icon/online_icon_right@2x.png" class="icon-right" alt="" id="next-img">
  </div>
</div>
<%- contentFor('FooterJs') %>



<%- contentFor('BottomJs') %>